.login {
	margin: 0%;
	padding: 6% 0%;
}

.box {
	display: flex;
	align-items: center;
}
.App {
	background: url('../src/pexels-pixabay-207665.jpg') no-repeat;
	background-size: cover;
}

.signin {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
		sans-serif;
	color: white;
	background-color: rgb(28, 196, 179);
	padding: 8%;
	margin: 2% auto;
	text-align: center;
	position: relative;
	left: 8em;
	width: 70%;
}
.username,
.password {
	justify-content: center;
	width: 80%;
	padding: 1em;
	background-color: rgb(28, 196, 179);
	border: none;
	border-bottom: 0.1em black solid;
}
.loginbtn {
	margin: 8% 0 0 0;
	padding: 3%;
	background-color: rgb(255, 225, 0);
	color: black;
	border: none;
	border-radius: 30px;
	width: 30%;
}
.signup {
	width: 100%;
	background-color: whitesmoke;
	padding: 5% 10%;
	box-shadow: 0.6em 0.6em 0.6em 0.6em rgba(128, 128, 128, 0.317);
}
.signupintro {
	margin: 2% 20%;
	text-align: center;
}
.signinintro {
	margin: 0% 15%;
}
h1,
h4 {
	font-weight: 400;
}
.box1 {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 2%;
	margin-left: 15%;
}
.icon {
	margin: 0% 6% 0% 4%;
}
.fa {
	font-size: 3em;
}
.field {
	width: 80%;
	padding: 0.1em;
	background-color: rgb(242, 242, 242);
	border: none;
	border-bottom: 0.1em black solid;
}
.signupbtn {
	display: flex;
	justify-content: center;
	margin: 8% auto;
	padding: 3%;
	background-color: rgb(0, 81, 255);
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 30px;
	width: 30%;
}
